
<div>
	<h3>Engine for Contacts</h3>
	<form id="ContactEngine" class="form-horizontal">

		<div class="form-group">
			<div class="col-sm-10">
				              
				<input id="q" name="q" 
					class="form-control" 
					type="text"
					ng-model="engine.q" 
					ng-keyup="performEngine()"  
					tabindex="1"
					placeholder="Enter the query"/>
					
				<input type="radio"
		                 name="m"
		                 id="ms"
		                 value="simple"
		                 checked="checked" tabindex="10" />
		          <label for="ms">simple</label>
		          
		          <input type="radio"
		                 name="m"
		                 id="ma"
		                 value="adv" tabindex="10"/>
		          <label for="ma">avancé</label>
			</div>
		</div>

		<div class="form-group">
			<!-- <div class="col-md-offset-2 col-sm-10">
				<a id="Engine" name="Engine" class="btn btn-primary"
					ng-click="performEngine()"><span
					class="glyphicon glyphicon-search"></span> Search</a> <span>engine
					= {{engine | json}}</span>
			</div> -->
			<div class="col-sm-10">
				<span>engine = {{engine | json}}</span>
			</div>
		</div>
	</form>
</div>
<div id="search-results">
	<div class="table-responsive">
		<table
			class="table table-responsive table-bordered table-striped clearfix">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Email</th>
					<th>Ville</th>
					<th>Date</th>
					<!-- 					<th>Grade</th> -->
				</tr>
			</thead>
			<tbody id="search-results-body">
				<tr ng-repeat="result in filteredResults">

					<!--    <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize"> -->
					<td><a href="#/Contacts/edit/{{result.id}}">{{result.nom}}</a></td>
					<td><a href="#/Contacts/edit/{{result.id}}">{{result.prenom}}</a></td>
					<td><a href="#/Contacts/edit/{{result.id}}">{{result.email}}</a></td>
					<td><a href="#/Contacts/edit/{{result.id}}">{{result.ville}}</a></td>
					<td><a href="#/Contacts/edit/{{result.id}}">{{result.date|
							date:'mediumDate'}}</a></td>
					<!-- <td><a href="#/Contacts/edit/{{result.id}}">{{result.grade}}</a></td> -->
				</tr>
			</tbody>
		</table>
	</div>

	<!-- <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul> -->

</div>