<div class="form-horizontal">
    <h3>Create a new Contact</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Contacts/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <h3>Engine Search</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Engine" name="Engine" class="btn btn-primary" href="#/Contacts/engine"><span class="glyphicon glyphicon-search"></span> Engine</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Contacts</h3>
    <form id="ContactSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="nom" class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10">
            <input id="nom" name="nom" class="form-control" type="text" ng-model="search.nom" placeholder="Enter the Contact Nom"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="prenom" class="col-sm-2 control-label">Prenom</label>
        <div class="col-sm-10">
            <input id="prenom" name="prenom" class="form-control" type="text" ng-model="search.prenom" placeholder="Enter the Contact Prenom"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input id="email" name="email" class="form-control" type="text" ng-model="search.email" placeholder="Enter the Contact Email"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="ville" class="col-sm-2 control-label">Ville</label>
        <div class="col-sm-10">
            <input id="ville" name="ville" class="form-control" type="text" ng-model="search.ville" placeholder="Enter the Contact Ville"></input>
        </div>
    </div>


    <div class="form-group">
        <label for="grade" class="col-sm-2 control-label">Grade</label>
        <div class="col-sm-10">
            <input id="grade" name="grade" class="form-control" type="text" ng-model="search.grade" placeholder="Enter the Contact Grade"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Ville</th>
                    <th>Date</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Contacts/edit/{{result.id}}">{{result.nom}}</a></td>
                    <td><a href="#/Contacts/edit/{{result.id}}">{{result.prenom}}</a></td>
                    <td><a href="#/Contacts/edit/{{result.id}}">{{result.email}}</a></td>
                    <td><a href="#/Contacts/edit/{{result.id}}">{{result.ville}}</a></td>
                    <td><a href="#/Contacts/edit/{{result.id}}">{{result.date| date:'mediumDate'}}</a></td>
                    <td><a href="#/Contacts/edit/{{result.id}}">{{result.grade}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>